<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="container" style="min-height: 600px;">
        <h1 class="h2 mt-3 mb-3">Categories</h1>
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary mb-3" href="/admin/category/AddTopCategory" role="button">Create top
                    category</a>
                <a class="btn btn-primary mb-3" href="/admin/category/AddSubCategory" role="button">Create sub
                    category</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Sub_category</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if empty}}
                        <h4>No category available</h4>
                        {{else}}
                        {{#each categories}}
                        <form action="/admin/category/delete" method="POST">
                            <input type="hidden" name="categoryId" value="{{this._id}}">
                            <tr id="{{this._id}}">
                                <td>{{this.name}}</td>
                                <td>{{this.description}}</td>
                                <td>{{#each this.sub_category}}
                                    <a href="#{{this._id}}">{{this.name}}</a>
                                    {{/each}}
                                </td>
                                <td><a class="btn btn-secondary"
                                        href="{{#if sub_category}}/admin/category/changeTopCategory/{{this._id}}{{else}}/admin/category/changeSubCategory/{{this._id}}{{/if}}"
                                        role="button"><i class="fas fa-pencil-alt"></i></a></td>
                                <td><button type="submit" class="btn btn-danger"><i class="fa fa-trash"
                                            aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </form>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>