<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Courses</h1>
        {{!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div> --}}
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <form action="/admin/courses" method="get">

                <input type="text" class="form-control" name="q" aria-describedby="helpId" placeholder="Search"
                    value="{{#if query.q}}{{query.q}}{{/if}}">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label for="category">Category: </label>
                            <select class="form-control" name="category" id="category">
                                <option value="all">All category</option>
                                {{#each menuCategory}}
                                {{#each sub_category}}
                                <option class="cat" value="{{this._id}}">{{this.name}}</option>
                                {{/each}}

                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="teacher">Teacher: </label>
                            <select class="form-control" name="teacher" id="teacher">
                                <option value="all">All teacher</option>
                                {{#each teacher}}
                                <option class="teacher" value="{{this._id}}">{{this.fullname}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary mt-3">Search</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <form id="delForm" action="/admin/courses/del" method="POST">
        <input id="txtCourseID" type="hidden" value="" name="courseID">
    </form>
    <form id="disableForm" action="/admin/courses/disable" method="POST">
        <input id="txtDisableCourseId" type="hidden" value="" name="courseId">
    </form>
    <form id="enableForm" action="/admin/courses/enable" method="POST">
        <input id="txtEnableCourseId" type="hidden" value="" name="courseId">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Instructors</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#if empty}}
            <h3>Không tồn tại khoá học</h3>
            {{else}}
            {{#each courses}}
            <tr>
                <td>{{name}}</td>
                <td>{{teacher.fullname}}</td>
                <td><a class="btn btn-success" href="/admin/courses/{{_id}}">Detail</a></td>
                {{#if disable}}
                <td><a data-id="{{_id}}" class="btn btn-secondary btnEnable" href="#">Enable</a></td>
                {{else}}
                <td><a data-id="{{_id}}" class="btn btn-primary btnDisable" href="#">Disable</a></td>
                {{/if}}
                <td><a data-id="{{_id}}" class="btn btn-danger btnDel" href="#">Delete</a></td>
            </tr>
            {{/each}}
            {{/if}}


        </tbody>
    </table>


</main>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $('.btnDel').on('click', function () {
        $('#txtCourseID').val($(this).data('id'));
        $('#delForm').submit();
    })

    $('#delForm').on('submit', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure to delete this course?',
            showDenyButton: true,
            confirmButtonText: `Confirm`,
            denyButtonText: `No`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $('#delForm').off('submit').submit();
            } else if (result.isDenied) {
                Swal.fire('Cancel!', '', 'info')
            }
        })
    })
</script>
<script>
    $('.btnDisable').on('click', function () {
        $('#txtDisableCourseId').val($(this).data('id'));
        $('#disableForm').submit();
    })

    $('#disableForm').on('submit', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure to disable this course?',
            showDenyButton: true,
            confirmButtonText: `Confirm`,
            denyButtonText: `No`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $('#disableForm').off('submit').submit();
            } else if (result.isDenied) {
                Swal.fire('Cancel!', '', 'info')
            }
        })
    })
</script>
<script>
    $('.btnEnable').on('click', function () {
        $('#txtEnableCourseId').val($(this).data('id'));
        $('#enableForm').submit();
    })

    $('#enableForm').on('submit', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure to enable this course?',
            showDenyButton: true,
            confirmButtonText: `Confirm`,
            denyButtonText: `No`,
        }).then((result) => {
            if (result.isConfirmed) {
                $('#enableForm').off('submit').submit();
            } else if (result.isDenied) {
                Swal.fire('Cancel', '', 'info')
            }
        })
    })
</script>
<script>
    var listCat = document.getElementsByClassName('cat');
    for (let i = 0; i < listCat.length; i++) {
        if (listCat[i].getAttribute('value') === '{{query.category}}') {
            listCat[i].setAttribute('selected', '');
        }
    }
    var listTeacher = document.getElementsByClassName('teacher');
    for (let i = 0; i < listTeacher.length; i++) {
        if (listTeacher[i].getAttribute('value') === '{{query.teacher}}') {
            listTeacher[i].setAttribute('selected', '');
        }
    }
</script>
{{/section}}