<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Students</h1>
        {{!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div> --}}
    </div>

    <form id="delForm" action="/admin/students/del" method="POST">
        <input id="txtStudentId" type="hidden" value="" name="studentId">
    </form>

    <table class="table" style="width:100%">
        <tr>
            <th>Username</th>
            <th>Fullname</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        {{#each studentList}}
        <tr>
            <td>{{namelogin}}</td>
            <td>{{fullname}}</td>
            <td>{{email}}</td>
            <td><a href="/admin/students/{{_id}}" class="btn btn-success">Detail</a></td>
            <td>
                <a data-id="{{_id}}" class="btn btn-danger btnDel" href="#">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</main>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $('.btnDel').on('click', function () {
        $('#txtStudentId').val($(this).data('id'));
        $('#delForm').submit();
    })

    $('#delForm').on('submit', async function (e) {
        e.preventDefault();
        const { value: confirmText } = await Swal.fire({
            title: "You are about to delete this student and this student's courses list.",
            input: 'text',
            inputLabel: "Type 'Delete' to confirm",
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value) {
                    return 'Select cancel to return'
                }
            }
        })

        if (confirmText === "Delete") {
            $('#delForm').off('submit').submit();
        }
    })
</script>
{{/section}}