{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="stylesheet" href="/public/static/css/category.css">
<style>
    body {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{{/section}}


<div class="category-container container pt-5">
    {{#if empty}}
    <div class="empty-category">
        <h2>This category has no course!</h2>
        <a href="/" class="btn btn-danger">Keep shopping</a>
    </div>
    {{else}}

    <div class="category-title u-margin-bottom-small">
        <h2 class="heading-secondary">
            {{categoryTitle}}
        </h2>
    </div>
    <form action="/course/search" method="GET">
        <input id="hiddensearch" type="hidden" name="q" value="{{q.q}}">
        <div class="row d-flex align-items-center">
            <div class="col">
                <div class="form-group">
                    <label for="category">Category: </label>
                    <select class="form-control" name="category" id="category">
                        <option value="all">All category</option>
                        {{#each menuCategory}}
                        <optgroup label="{{this.name}}">
                            {{#each sub_category}}
                            <option class="cat" value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sort">Sort: </label>
                    <select class="form-control" name="sort" id="sort">
                        <option class="sorting" value="price">Cheapest</option>
                        <option class="sorting" value="rating">Best rated</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mt-3">Search</button>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        {{#each courses}}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="card-image">
                    <img class="card-img-top" src='{{this.thumbnail}}' alt="Card image">
                </div>
                <div class="card-body">
                    <div class="info">
                        <div class="card__title">
                            <p>{{name}}</p>
                        </div>
                        <div class="card__teacher">
                            <p>{{teacher.fullname}}</p>
                        </div>
                        <div class="card__category">
                            <p>{{category.name}}</p>
                        </div>

                        <div class="rating mb-2">
                            <div class="rateYo" data-rateyo-rating="{{avgRating}}" data-rateyo-star-width="20px">
                            </div>

                        </div>
                        {{#if isDiscount}}
                        <div class="card__allprice"><span class="card__discount">$ {{salePrice}}</span> &nbsp;
                            <del class="card__price">$ {{price}}</del>
                        </div>
                        {{else}}
                        <div class="card__discount">$ {{price}}</div>
                        {{/if}}

                    </div>

                    <div class="card-button d-flex justify-content-end">
                        {{#if isStudent}}
                        <a class="btn btn-success" href="/course/{{_id}}">
                            Go to course</a>
                        {{else}}
                        <div class="d-flex custom-btn justify-content-end">
                            <a href="/course/{{_id}}" class="btn btn-primary mr-3">Detail</a>
                            <form action="/cart/add" method="POST">
                                <input type="hidden" value="{{_id}}" name="courseId">
                                <button type="submit" class="btn btn-secondary"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="course-tag">
                    {{#if isMostView}}
                    <div class="new-course-tag">Most view</div>
                    {{/if}}
                    {{#if isNew}}
                    <div class="new-course-tag">New</div>
                    {{/if}}
                </div>
                {{#if isWeekly}}
                <div class="hot-course-tag">
                    <span class="hot-course-tag__icon"><i class="fab fa-hotjar"></i></span>
                    <span class="hot-course-tag__text">Hot</span>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    <nav>
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item {{#if pagingOption.pre}}{{else}}disabled{{/if}}"><a class="page-link"
                    href="?{{query}}&page={{#if pagingOption.pre}}{{pagingOption.pre}}{{/if}}">Previous</a></li>
            {{#each pagingOption.pageArr}}
            <li class="page-item page-number"><a class="page-link" href="?{{../query}}&page={{this}}">{{this}}</a></li>
            {{/each}}
            <li class="page-item {{#if pagingOption.next}}{{else}}disabled{{/if}}"><a class="page-link"
                    href="?{{query}}&page={{#if pagingOption.next}}{{pagingOption.next}}{{/if}}">Next</a></li>
        </ul>
    </nav>
    {{/if}}


</div>


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
    $(function () {

        $(".rateYo").rateYo({
            halfStar: true,
            readOnly: true
        });
    });
</script>
<script>
    var cur = '{{pagingOption.page}}';
    var list = document.getElementsByClassName('page-number');
    for (var i = 0; i < list.length; i++) {
        if (list[i].firstChild.innerText === cur) {
            list[i].classList.add('active');
        }
    }
    var listCat = document.getElementsByClassName('cat');
    for (let i = 0; i < listCat.length; i++) {
        if (listCat[i].getAttribute('value') === '{{q.category}}') {
            listCat[i].setAttribute('selected', '');
        }
    }
    var listSort = document.getElementsByClassName('sorting');
    for (let i = 0; i < listSort.length; i++) {
        if (listSort[i].getAttribute('value') === '{{q.sort}}') {
            listSort[i].setAttribute('selected', '');
        }
    }
    //var hsearch = document.getElementById('hiddensearch');
    //var search = document.getElementById('searchbar');
    //if (search.getAttribute('value') !== '') {
    //    hsearch.setAttribute('value', search.getAttribute('value'));
    //} else {
    //    hsearch.setAttribute('value', '');
    //}
    $('#searchbar').on('change', function () {
        var q = $('#searchbar').val();
        if (q !== '') {
            $('#hiddensearch').val(q);
        } else {
            $('#hiddensearch').val('');
        }

    });

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };
    var status = getUrlParameter('status')
    if (status == "addsuccess") {
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Success',
            showConfirmButton: false,
            timer: 1500
        })
    } else if (status == "exist") {
        Swal.fire({ position: 'top-end', icon: 'error', title: 'Already in cart', showConfirmButton: false, timer: 1500 })
    } else if (status == "incourse") {
        Swal.fire({ position: 'top-end', icon: 'error', title: 'Already in course', showConfirmButton: false, timer: 1500 })
    }
</script>
{{/section}}