{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="stylesheet" href="/public/static/css/category.css">
{{/section}}


<div class="category-container container pt-5">
    {{#if empty}}
    <div class="empty-category">
        <h2>This category has no course!</h2>
        <a href="/" class="btn btn-danger">Keep shopping</a>
    </div>
    {{else}}

    <div class="category-title">
        <p>{{categoryTitle}}</p>
    </div>
    <form action="/course/search" method="GET">
        <input type="hidden" name="q" value="{{q.q}}">
        <div class="row d-flex align-items-center">
            <div class="col">
                <div class="form-group">
                    <label for="category">Category: </label>
                    <select class="form-control" name="category" id="category">
                        <option value="all">All category</option>
                        {{#each menuCategory}}
                        {{#each sub_category}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}

                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sort">Sort: </label>
                    <select class="form-control" name="sort" id="sort">
                        <option value="price">Cheapest</option>
                        <option value="rating">Best rated</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        {{#each courses}}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <div class="card-image">
                    <img class="card-img-top" src='{{this.thumbnail}}' alt="Card image">
                </div>
                <div class="card-body">
                    <div class="info">
                        <div class="card__title">
                            <p>{{name}}</p>
                        </div>
                        <div class="card__teacher">
                            <p>{{teacher.fullname}}</p>
                        </div>
                        <div class="card__category">
                            <p>{{category.name}}</p>
                        </div>

                        <div class="rating mb-2">
                            <div class="rateYo" data-rateyo-rating="{{avgRating}}" data-rateyo-star-width="20px">
                            </div>

                        </div>
                        <div class="card__allprice"><span class="card__discount">$ {{salePrice}}</span> &nbsp;
                            <del class="card__price">$ {{price}}</del>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="/course/{{_id}}" class="btn btn-primary mr-3">Detail</a>
                        <form action="/cart/add" method="POST">
                            <input type="hidden" value="{{_id}}" name="courseId">
                            <button type="submit" class="btn btn-secondary"><i class="fa fa-shopping-cart"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <nav>
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item {{#if pagingOption.pre}}{{else}}disabled{{/if}}"><a class="page-link"
                    href="{{path}}?{{query}}&page={{#if pagingOption.pre}}{{pagingOption.pre}}{{/if}}">Previous</a></li>
            {{#each pagingOption.pageArr}}
            <li class="page-item"><a class="page-link" href="{{path}}?{{../query}}&page={{this}}">{{this}}</a></li>
            {{/each}}
            <li class="page-item {{#if pagingOption.next}}{{else}}disabled{{/if}}"><a class="page-link"
                    href="{{path}}?{{query}}&page={{#if pagingOption.next}}{{pagingOption.next}}{{/if}}">Next</a></li>
        </ul>
    </nav>
    {{/if}}


</div>


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
    $(function () {

        $(".rateYo").rateYo({
            halfStar: true,
            readOnly: true
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };
    var status = getUrlParameter('status')
    if (status == "addsuccess") {
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Success',
            showConfirmButton: false,
            timer: 1500
        })
    } else if (status == "exist") {
        Swal.fire({ position: 'top-end', icon: 'error', title: 'Already in cart', showConfirmButton: false, timer: 1500 })
    } else if (status == "incourse") {
        Swal.fire({ position: 'top-end', icon: 'error', title: 'Already in course', showConfirmButton: false, timer: 1500 })
    }
</script>
{{/section}}