<div class="marketing-courses">
    <div class="u-center-text u-margin-bottom-small">
        <h2 class="carousel-title marketing-courses__title mb-5 heading-secondary">Recommended this week</h2>
    </div>

    <div class="row">
        {{#each fourWeeklyCourses}}
        <div class="card-container px-3 col-md-6 col-lg-3 col-sm-6 mb-3">
            <div class="card marketing-card">
                <div class="img">
                    <img src="{{thumbnail}}" alt="course_image">
                </div>
                <div class="info">
                    <div class="card__title">
                        <p>{{name}}</p>
                    </div>
                    <div class="card__teacher">
                        <p>{{teacher.fullname}}</p>
                    </div>
                    <div class="card__category">
                        <p>{{category.name}}</p>
                    </div>
                    <div class="rating mb-3">
                        <div class="rateYo" data-rateyo-rating="{{avgRating}}" data-rateyo-star-width="20px"></div>
                    </div>
                    <div class="card__allprice"><span class="card__discount">$ {{salePrice}}</span> &nbsp; <del
                            class="card__price">$
                            {{price}}</del>
                    </div>

                </div>
                <div class="card-button">
                    {{#if isStudent}}
                    <a class="btn btn-success" href="/course/{{_id}}">
                        Go to course</a>
                    {{else}}
                    <a class="btn btn-success mr-3" href="/course/{{_id}}">
                        Detail</a>
                    <form method="POST" action="/cart/add">
                        <input type="hidden" value="{{_id}}" name="courseId" />
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </button>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>