<div class="marketing-courses">
    <h2 class="marketing-courses__title mb-5">Recommended Courses this week!</h2>

    <div class="row">
        {{#each fourWeeklyCourses}}
        <div class="col-lg-3 px-5">
            <div class="card__image">
                <img src="{{thumbnail}}" alt="course_image">
            </div>
            <div class="card__title">{{name}}</div>
            <div class="card_teacher">{{teacher.fullname}}</div>
            <div class="card__category">{{category.name}}</div>
            <div class="card__price">$ {{price}}</div>
            <div class="card__button">
                <a class="btn btn-primary mr-3" href="/course/{{_id}}">
                    Details</a>
                <form method="POST" action="/cart/add">
                    <input type="hidden" value="{{_id}}" name="courseId" />
                    <button class="btn btn-success" type="submit">Add to cart</button>
                </form>
            </div>
        </div>
        {{/each}}

    </div>
</div>