<div class="category-carousel2">
    <div class="u-center-text u-margin-bottom-small">
        <h2 class="carousel-title heading-secondary">Most view courses</h2>
    </div>
    <div class="carousel-container2">
        <div class="carousel-inner">
            <div class="track2">
                {{#each tenViewCourses}}
                <div class="card-container">
                    <div class="card">
                        <div class="img">
                            <img src="{{thumbnail}}" alt="course_image" />
                        </div>
                        <div class="info">
                            <div class="card__title">
                                <p>{{name}}</p>
                            </div>
                            <div class="card__teacher">
                                <p>{{teacher.fullname}}</p>
                            </div>
                            <div class="card__category">
                                <p>{{category.name}}</p>
                            </div>
                            <div class="rating mb-2">
                                <div class="rateYo" data-rateyo-rating="{{avgRating}}" data-rateyo-star-width="20px">
                                </div>
                            </div>
                            {{#if isDiscount}}
                            <div class="card__allprice"><span class="card__discount">$ {{salePrice}}</span> &nbsp;
                                <del class="card__price">$ {{price}}</del>
                            </div>
                            {{else}}
                            <div class="card__discount">$ {{price}}</div>
                            {{/if}}
                        </div>
                        <div class="card-button">
                            {{#if isStudent}}
                            <a class="btn btn-success card-button__details" href="/course/{{_id}}">
                                Go to course</a>
                            {{else}}
                            <a class="btn btn-primary card-button__details mr-3" href="/course/{{_id}}">
                                Detail</a>
                            <form method="POST" action="/cart/add">
                                <input type="hidden" value="{{_id}}" name="courseId" />
                                <button class="btn btn-success card-button__cart" type="submit">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </button>
                            </form>
                            {{/if}}
                        </div>
                        <span class="new-course-tag">Most view</span>
                    </div>


                </div>
                {{/each}}


            </div>
        </div>
        <div class="nav2">
            <button class="prev2">
                <i class="fa fa-arrow-circle-left " aria-hidden="true"></i>
            </button>
            <button class="next2">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>