{{#section 'css'}}
<link rel="stylesheet" href="/public/static/css/home/categoryCarousel.css">
<link rel="stylesheet" href="/public/static/css/profile.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
{{/section}}

<div class="profile-section">
  <div class="content">
    <div class="profile-info">
      <div class="text-center heading">
        <h2 class="heading-secondary">
          Profile
        </h2>
      </div>
      <div class="profile-image">
        <div class="avatar">
          <img id="avatar" src='{{authUser.avatar}}' alt="avatar">
        </div>
        <div class="editProfile">
          <a class="btn btn-primary" id="btnEdit" href="/account/editprofile">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </div>
      </div>

      <h4 id="fullname">
        <span>{{authUser.fullname}}</span>
      </h4>
      <div class="text-infomation">
        <p><strong>Email:</strong> {{authUser.email}}</p>
        <p><strong>Date of birth:</strong> {{authUser.date_of_birth}}</p>
        </h4>
      </div>

      <div class="text-center mt-2">

        <a class="btn btn-success mr-2" href="/account/changepass"><i class="fas fa-lock mr-2"></i>Change password</a>
        {{#if authUser.namelogin}}
        <a class="btn btn-danger" href="/account/changeEmail"><i class="fas fa-envelope mr-2"></i>Change email</a>
        {{/if}}
      </div>

    </div>

    <div class="progress-course">

      <div class="flip">
        <h3>
          <i class="fa fa-list" aria-hidden="true"></i>
          Purchased courses
        </h3>
      </div>

      <hr>
      <div class="panel">
        <div class="d-flex justify-content-left flex-wrap">
          {{#each PurchasedCourse}}
          <div class="card m-2" style="width: 13rem;">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="thumbnail" style="height: 8rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.teacher.fullname}}</p>
              {{#if this.done}}
              <p class="text-success mt-2"><i class="fas fa-check-circle mr-2"></i>Completed</p>
              {{else}}
              <p class="text-danger"><i class="fas fa-spinner mr-2"></i> Incomplete</p>
              {{/if}}
              <a href="/course/{{this._id}}" class="btn btn-primary">Detail<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

    </div>
    <div class="progress-course">
      <div class="flip">
        <h3>
          <i class="fa fa-list" aria-hidden="true"></i>
          WishList
        </h3>
      </div>
      <hr>
      <div class="panel">
        <div class="d-flex justify-content-left flex-wrap">
          {{#each wishList}}
          <div class="card m-2" style="width: 13rem;">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="thumbnail" style="height: 8rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.teacher.fullname}}</p>
              {{#if this.done}}
              <p class="text-success mt-2"><i class="fas fa-check-circle mr-2"></i>Completed</p>
              {{else}}
              <p class="text-danger"><i class="fas fa-spinner mr-2"></i> Incomplete</p>
              {{/if}}
              <a href="/course/{{this._id}}" class="btn btn-primary">Detail<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  const status = '{{status}}';
  if (status === "updatesuccess") {
    Swal.fire({
      position: 'top-end',
      icon: 'success',
      title: 'Saved',
      showConfirmButton: false,
      timer: 1500
    })
  }
</script>

<script>
  $(document).ready(function () {
    $('.flip').click(function () {
      $(this).parent().children('.panel').slideToggle("slow");
    });
  });
</script>
{{/section}}