{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/nb1oddysrdqg1e2qqdbh3ahr6826ppmdbayfccoup0lra4b4/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#description'
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
  $('#course-thumbnail').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
  });
</script>
{{/section}}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit course</h1>
  </div>

  <div class="container">
    <form method="POST" action="/teacher/courses/{{course._id}}/config" enctype="multipart/form-data">
      <div class="card mt-5">
        <h5 class="card-header">Edit course</h5>
        <div class="card-body">
          <div class="form-group">
            <label for="course-title">Title</label>
            <input type="text" name="title" class="form-control" id="course-title" placeholder="Enter title"
              value="{{course.name}}" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="course-category">Category</label>
            <select class="form-control" name="category" id="course-category">
              {{#each categories}}
              <optgroup label="{{this.name}}">
                {{#each sub_category}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </optgroup>
              {{/each}}
            </select>
            <div class="form-group">
              <label for="short-desciption">Short description</label>
              <textarea class="form-control" name="shortDesciption" id="short-desciption" rows="3"
                maxlength="300">{{course.short_description}}</textarea>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea rows="20" id="description" name="description">{{course.description}}</textarea>
            </div>
            <div class="form-group">
              <label for="course-price">Price</label>
              <input min="0" type="number" class="form-control" name="price" id="course-price" aria-describedby="helpId"
                placeholder="Price" value="{{course.price}}">
              <small id="helpId" class="form-text text-muted">Price in USD</small>
            </div>
            <div class="form-group">
              <label for="course-discount">Discount</label>
              <input min="0" max="100" type="number" class="form-control" name="discount" id="course-discount"
                aria-describedby="helpId" placeholder="Discount" value="{{course.discount}}">
            </div>
            <div class="form-group">
              <label for="thumbnail">Thumbnail: </label>
              <input type="file" class="form-control-file" name="thumbnail" id="thumbnail" placeholder="Select"
                aria-describedby="fileHelpId">
              <small id="fileHelpId" class="form-text text-muted">PNG,JPG</small>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="done" id="status" value="true" {{#if course.done}}
                  checked {{/if}}>
                <h5>Done?</h5>
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="/teacher/courses/{{course._id}}" role="button">Discard</a>
          </div>
        </div>
    </form>
  </div>
</main>