<header style="z-index: 900; width: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark d-flex" style="background-color: #022044;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="padding: 0;"><img src="/public/static/images/logo.svg" alt="logo" style="width: 75px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item ml-3">
                        <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Categories</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"> Information Technology &raquo </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href=""> Mobile development </a></li>
                                    <li><a class="dropdown-item" href=""> Web development </a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#"> Dropdown item 2 </a></li>
                            <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                        </ul>
                    </li>
                    <form class="d-flex justify-content-start align-items-center ms-5 col-md-9 ml-3" action="/course/search" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search for anything"
                            aria-label="Search" name="q" />
                        <button class="btn btn-dark ml-2"><i class="fa fa-search" aria-hidden="true"
                                type="submit"></i></button>
                    </form>
                </ul>


            </div>

            <ul class="navbar-nav justify-content-end">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i>
                        {{#if isEmptyCart}}
                        {{else}}
                        <span class="badge badge-pill badge-danger float-right">
                            {{cartCount}}
                        </span>
                        {{/if}}
                    </a>


                </li>
                {{#if isAuth}}
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{authUser.avatar}}" alt="avt" style="height: 30px; border-radius: 50%;">
                        {{authUser.fullname}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/account/profile">My Profile</a>
                        <form class="dropdown-item" id="frmLogout" method="POST" action="/account/logout">
                            <a class="btn btn-danger" href="javascript: $('#frmLogout').submit();">Logout</a>
                        </form>
                    </div>
                </li>

                {{else}}

                <li class="nav-item">
                    <a class="btn btn-info me-3" href="/account/login">Log in | Sign up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</header>