{{#section 'css'}}
<link rel="stylesheet" href="/public/static/css/course.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
  body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
</style>
{{/section}}

<div class="dark-background">
  <div class="row">
    <div class="col-7">
      <div class="course-intro">
        <div class="component-render">
          {{#with this.course}}
          <h1 class="heading-primary">
            {{name}}
          </h1>
          <p>
            {{short_description}}
          </p>
          {{/with}}
          <div class="rating">
            <div class="rateYo" data-rateyo-rating="{{this.avgRating}}" data-rateyo-star-width="30px"></div>
            <p class="mt-2">{{this.avgRating}} average based on {{this.totalRating}} ratings ({{amountStudent}}
              students).</p>
            <p>Created by <a href="#ins">{{this.course.teacher.fullname}}</a></p>
            <p><i class="fas fa-exclamation-circle mr-2"></i>Last updated {{fromNow this.course.last_updated}}</p>
          </div>
        </div>

        {{#if isInWishList}}
        <form action="/course/unwishlist" method="POST">
          <input type="hidden" name="courseID" value="{{course._id}}">
          <button class="btn btn-outline-primary" id="btnWishlist" type="submit">
            Wishlisted
            <i class="fas fa-heart ml-1 wishlisted"></i>
          </button>
        </form>
        {{else}}
        <form action="/course/wishlist" method="POST">
          <input type="hidden" name="courseID" value="{{course._id}}">
          <button class="btn btn-outline-primary" id="btnWishlist" type="submit">
            Wishlist
            <i class="far fa-heart"></i>
          </button>
        </form>
        {{/if}}
      </div>
    </div>
    <div class="buy-card">
      <div class="cardbody">
        <div class="img">
          <img src="{{course.thumbnail}}" alt="course-img">
        </div>
        {{#if isMember}}
        {{else}}
        <div class="card-text">
          <p>
            <strong class="card-price">
              {{#with this.course}}
              ${{price}}
              {{/with}}
            </strong>
          </p>
          <div class="cart">
            <form method="POST" action="/cart/add">
              <input type="hidden" value="{{_id}}" name="courseId" />
              <button class="btn btn-danger button-add mb-2" type="submit">Add to cart</button>
            </form>
            <form method="POST" action="/cart/buynow">
              <input type="hidden" value="{{_id}}" name="courseId" />
              <button class="btn btn-outline-info button-add" type="submit">Buy now</button>
            </form>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-7 container-content">
    <div class="card-description mb-5">

      <div class="description">
        <b class="mb-2">Description</b>
        <p>
          {{{course.description}}}
        </p>
      </div>
    </div>

    <div class="card-body card-table-content">
      <b class="mb-2">Course content</b>
      <div class="description">
        {{#each chapterList}}
        <div class="card mt-2">
          <div class="card-header flip" style="cursor: pointer;">
            <div class="d-flex justify-content-between">
              <strong>{{title}}</strong>
              <i class="fas fa-angle-down"></i>
            </div>
          </div>
          <div class="card-body panel">
            <table class="table">
              {{#each list_lesson}}
              <tr>
                <td>
                  <div class="d-flex justify-content-between">
                    <div>
                      <i class="fas fa-play-circle"></i>
                      <a href="/course/{{../../_id}}/{{this._id}}"><span class="card-text">{{title}}</span></a>
                    </div>
                    <div>
                      {{#if isFree}}
                      <img src="../../public/static/images/free.png" alt="free">
                      {{/if}}
                    </div>
                  </div>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <br id="ins">
    <div class="card">
      <div class="card-body">
        <b class="mb-1">Instructors</b>
        <div>
          <section class="section-instructors">
            <div class="row">
              <h3 class="heading-tertiary mb-4">{{course.teacher.fullname}}</h3>
              <div class="instructor">
                <figure class="instructor__shape">
                  <img src="{{course.teacher.avatar}}" class="testimonial__img" alt="photo1">
                  <figcaption class="testimonial__caption">
                    {{course.teacher.fullname}}
                  </figcaption>
                </figure>
                <div class="instructor__text">
                  <h3 class="intructor-heading">
                    <i class="fas fa-star instructor-icon"></i>
                    {{avgRatingTeacher}} Instructor Rating
                  </h3>
                  <h3 class="intructor-heading">
                    <i class="fas fa-award instructor-icon"></i>
                    {{countReviewTeacher}} Reviews
                  </h3>
                  <h3 class="intructor-heading">
                    <i class="fas fa-user-friends instructor-icon"></i>
                    {{studentsOfTeacher}} Students
                  </h3>
                  <h3 class="intructor-heading">
                    <i class="fas fa-play-circle instructor-icon"></i>
                    {{courseOfTeacher.length}} Courses
                  </h3>
                </div>
                <br>
                <div class="about" style="width: 100%;">
                  {{course.teacher.about}}
                </div>
              </div>

            </div>
          </section>
        </div>
      </div>
    </div>
    <br>

    <div class="card-body card-list-rating">
      <b class="mb-1">Student feedback</b>
      <div class="row">
        <div class="rating">
          <div class="rateYo" data-rateyo-rating="{{this.avgRating}}"></div>
          <p class="mt-2">{{this.avgRating}} average based on {{this.totalRating}} ratings.</p>
        </div>
      </div>
      <div class="row">
        <div class="side">
          <div>5 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-5" style="width: {{this.percent.level_5}}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{this.ratingList.level_5}}</div>
        </div>
        <div class="side">
          <div>4 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-4" style="width: {{this.percent.level_4}}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{this.ratingList.level_4}}</div>
        </div>
        <div class="side">
          <div>3 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-3" style="width: {{this.percent.level_3}}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{this.ratingList.level_3}}</div>
        </div>
        <div class="side">
          <div>2 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-2" style="width: {{this.percent.level_2}}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{this.ratingList.level_2}}</div>
        </div>
        <div class="side">
          <div>1 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-1" style="width: {{this.percent.level_1}}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{this.ratingList.level_1}}</div>
        </div>
        <div class="side">
          <div>0 star</div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-0" style="width: {{this.percent.level_0}}%;"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{this.ratingList.level_0}}</div>
        </div>
      </div>
      {{#if isMember}}
      <div class="feedback text-center">
        <a href="/course/{{course._id}}/rating" class="btn btn-outline-info"
          style="padding: 7px 28px; font-weight: 600;">Feedback</a>
      </div>
      {{/if}}
    </div>
    <div>
      <div class="card-header bg-white mt-5">
        <b class="mb-2 flip" style="cursor: pointer;">Reviews</b>
        <div class="student-feedback mt-2 panel">
          <div class="testimonial">
            {{#each this.course.list_rating}}
            <div class="card-body card-testimonial">
              <div class="avatar">
                <figure class="testimonial__shape">
                  <img src="{{this.student.avatar}}" class="testimonial__img" alt="photo1">
                  <figcaption class="testimonial__caption">
                    {{this.student.fullname}}
                  </figcaption>
                </figure>
              </div>
              <div class="testimonial__text mt-2">
                <h3 class="heading-tertiary u-margin-bottom-small">
                  {{this.student.fullname}}
                  <span class="time">{{fromNow this.date_rating}}</span>
                </h3>
                <div class="feedback">
                  <div class="rateYo mt-1 mb-1" data-rateyo-rating={{this.rating}} data-rateyo-star-width="25px">
                  </div>
                </div>
                <p>
                  {{this.description}}
                </p>
              </div>
            </div>
            <hr style="border:3px solid #f1f1f1; margin: 0;">
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>




</div>

<hr>

<div class="related-courses mt-3">
  <h3 class="ml-5">Related courses</h3>
  <div class="carousel-container">
    <div class="carousel-inner">
      <div class="track">
        {{#each fiveRelatedCourses}}
        <div class="card-container">
          <div class="card">
            <div class="img">
              <img src="{{thumbnail}}" alt="course_image" style="height: 100%; width:100%;">
            </div>
            <div class="info">
              <div class="card__title">{{name}}</div>
              <div class="card_teacher">{{teacher.fullname}}</div>
              <div class="card__category">{{category.name}}</div>

              <div class="rating mb-2">
                <div class="rateYo" data-rateyo-rating="{{avgRating}}" data-rateyo-star-width="20px">
                </div>

              </div>
              <div class="card__price">$ {{price}}</div>
            </div>
            <div class="card-button">

              {{#if isStudent}}
              <a href="/course/{{_id}}" class="btn btn-success card-button__cart">Go to course</a>
              {{else}}
              <a class="btn btn-primary mr-3 card-button__details" href="/course/{{_id}}">
                Details</a>
              <form method="POST" action="/cart/add">
                <input type="hidden" value="{{_id}}" name="courseId" />
                <button class="btn btn-success card-button__cart" type="submit">Add to cart</button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="nav">
      <button class="prev">
        <i class="fa fa-arrow-circle-left " aria-hidden="true"></i>
      </button>
      <button class="next">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>



{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/public/static/js/jquery.waypoints.min.js"></script>
<script>
  $(document).ready(
    function () {
      $('.container-content').waypoint(
        function (direction) {
          if (direction == "down") {
            $('.buy-card, header').addClass('sticky');
          } else {
            $('.buy-card, header').removeClass('sticky');
          }
        }, {
        offset: '30px'
      }
      )
    }
  )
  $(function () {

    $(".rateYo").rateYo({
      halfStar: true,
      readOnly: true
    });
  });

</script>

<script>
  $('.card-list-rating').waypoint(
    function (direction) {
      if (direction == "down") {
        $('.buy-card').addClass('none');
      } else {
        $('.buy-card').removeClass('none');
      }
    }
  )
</script>

<script>
  $(document).ready(function () {
    $('.flip').click(function () {
      $(this).parent().children('.panel').slideToggle("slow");
    });
  });
</script>

<script>
  const msg = '{{this.msg}}';
  console.log(msg);
  if (msg === "addtowishlist") {
    Swal.fire({
      position: 'top-end',
      icon: 'success',
      title: 'Add to wishlist success!',
      showConfirmButton: false,
      timer: 1500
    })
  } else if (msg === "unwishlist") {
    Swal.fire({
      position: 'top-end',
      icon: 'success',
      title: 'remove from wishlist success!',
      showConfirmButton: false,
      timer: 1500
    })
  }
</script>

<script src="/public/static/js/home/newestCarousel.js"></script>
{{/section}}